body {
    background: black;
    color: white;
}

.media-title {
    color: white;
}

.review-authors {
    color: black;
}

.filter-tabs__tab > a {
    color: white;
}

.list-item__title {
    color: white;
}

.card-item__link {
    color: white;
}
