body {
    background: black;
    color: white;
}

.article-header {
    color: white;
}

.article-header-box h1 {
    color: white;
}

.article-standard .article-header-box .article-heading-wrapper .article-summary {
    color: white;
}

.post-content .post-message {
    color: white;
}

p {
    color: white;
}

#conversation {
    color: white;
}

#home-top {
    background: black;
    color: white;
}

#home-featured-articles {
    color: white;
}

.feature-heading {
    color: white;
}

#home-top section#home-featured-articles article .copy-holder h1 {
    color: white;
}

#home-top a {
    color: white;
}

#news.home .container-wrapper .container-holder {
    background: black;
}

h2 {
    color: white;
}

#home-top section#home-sidebar #home-editors-picks h2  {
    color: white;
}